.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7F93FB;
    padding: 10px 20px;
  }  
  .navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .navbar-search {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    height: 30px;
    padding-left: 20px;
  }
  
  .navbar-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
