/* Styles for Register Page */

.register-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7F93FB;
  }
  
  .register-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
  }
  
  .register-form h1 {
    text-align: center;
    color: #7F93FB;
    font-size: 50px;
  }
  
  /* จัดฟิลด์ Name และ Last Name ให้อยู่ในบรรทัดเดียวกัน */
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #758694;
  }
  
  input,select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* input:focus,
  select:focus {
    border-color: #4CAF50;
    outline: none;
  } */
  
  .register-form .btn-register {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    width: 200px;
    align-self: center;

  }
  
  /* button:hover {
    background-color: #45a049;
  } */

  select{
    height: 45px;
  }

  .btn-login{
    margin-left: 5px;
    color:#7F93FB;
    cursor: pointer;
    margin-bottom: 0;
  }

  .register-form p{
    margin-top: 0;
    color: #758694;
    align-self: center;
    margin: 0;
  }

  .btn-showhidePass{
    width: 60px;
    border: 2px solid #7F93FB;
    background-color: white; /* พื้นหลังสีขาว */
    color: #7F93FB;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 8px;
    height: 30px;
  }
  #password {
    width: 375px;
  }